#login{
    background-color: rgba(128, 128, 128, 0.507);
    height: 50%;
    width: 50%;

    margin: auto;
}



td,th {
    border: 1px solid rgb(190, 190, 190);
    padding-left: 50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}




table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    display: inline-table;
}